@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito/Nunito-Regular.eot');
  src: url('../assets/fonts/Nunito/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Nunito/Nunito-Regular.woff2') format('woff2'),
  url('../assets/fonts/Nunito/Nunito-Regular.woff') format('woff'),
  url('../assets/fonts/Nunito/Nunito-Regular.ttf') format('truetype'),
  url('../assets/fonts/Nunito/Nunito-Regular.svg#Nunito-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}